<div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">QRUPLARIN  DAXİLİ VƏ REDAKTƏSİ </h3>
    <div class="card-body">
      <div id="table" class="table-editable">
        <span class="table-add float-right mb-3 mr-2">
          <button type="button" mdbBtn color="primary" class="btn btn-success btn-rounded btn-sm my-0"
          (click)="addqrup.show()" (click)="_addqrup()">Add <i class="fas fa-plus fa-2x" aria-hidden="true"></i></button>
       
          </span> 
          <div mdbModal #addqrup="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="card-header">
                  <button type="button" class="close pull-right" aria-label="Close" (click)="addqrup.hide()">
                    <span aria-hidden="true">×</span>
                  </button>
                  <h4 class="modal-title w-150" id="myModalLabel"><span>New qrup kodu</span></h4>
                </div>               
              <form [formGroup]="qrupForm" class="normal-form" >               
                <div class="modal-body" > 
                  <div class="row">                  
                    <div class="col-sm-12">
                      <input type="text" [(ngModel)]="qrup.Qrupname" name="Qrupname"  placeholder="Qrupname yazin" class="form-control" formControlName="Qrupname" mdbInput>
                      <label for="Qrupname">Qrupname</label>  
                    </div>                     
                  </div> 
                   <div class="row">                  
                    <div class="col-md-4">Debit hesabı              
                      <select [(ngModel)]="qrup.dhesId" formControlName="dhesId" (change)="seldebit($event.target.value)"                       
                      class="browser-default custom-select" >                                                   
                        <option *ngFor="let o of _debhesab" [value]="o.HesId" >{{ o.Hesnom }}</option>                                 
                     </select>               
                    </div>
                    <div class="col-md-8">  
                      <div class="md-form"></div>                              
                         <input mdbInput type="text" class="form-control" value={{_debit}}  readonly>
                      </div>                   
                  </div>
                  <div class="row">                   
                    <div class="col-md-4">Kredit hesabı                                  
                      <select [(ngModel)]="qrup.khesId" formControlName="khesId" (change)="selkred($event.target.value)"                       
                      class="browser-default custom-select" >                                                    
                        <option *ngFor="let o of _kredhesab" [value]="o.HesId" >{{ o.Hesnom }}</option>                                                   
                     </select>                 
                    </div>
                    <div class="col-md-8">
                      <div class="md-form"></div> 
                          <input mdbInput type="text" class="form-control" value={{_kredit}} readonly>
                     </div>
                  </div>                         
                </div>
                <div class="modal-footer">
                 <button type="submit" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect (click)=onadd() (click)="add.hide()" [disabled]="!qrupForm.valid">Save changes</button>
                 <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="addqrup.hide()" mdbWavesEffect>Close</button>
                 </div>
               </form>
              </div>
            </div>
          </div> 
          <!------------------------------------------------------------->
         <div mdbModal #delqrup="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="card-header">
                  <button type="button" class="close pull-right" aria-label="Close" (click)="delqrup.hide()">
                    <span aria-hidden="true">×</span>
                  </button>
                  <h4 class="modal-title w-150" id="myModalLabel"><span>Del {{ qrup.Qrupname }}</span></h4>
                </div>
                <form  class="normal-form">           
                <div class="modal-footer">
                 <button type="submit" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect (click)="ondel()" (click)="delqrup.hide()">YES</button>
                 <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="delqrup.hide()" mdbWavesEffect>NO</button>
                 </div>
               </form>
              </div>
            </div>
          </div> 
          <table mdbTable class="table table-striped table-bordered table-sm dataTable">
              <thead>     
                <tr>   
                  <th class="text-center" colspan="9">
                   <!-- <input type="text" [(ngModel)]="searchText" class="form-control" id="search" mdbInput/>  -->           
                   
                                   
                    
                   </th>
                 </tr>
                <tr>      
                 <!-- <th *ngFor="let head of headElements; let i = index" [mdbTableSort]="listqrup" [sortBy]="headElements[i]"
                   scope="col">{{head | titlecase}} <mdb-icon fas icon="sort"></mdb-icon>
                 </th> -->
                 
                <!-- <th class="text-center">qrupgiId</th> 
                  <th class="text-center" >BId</th>    -->
                  <th class="text-center">Qrupname</th>    
                  <th class="text-center">Debit</th>
                  <th class="text-center">Kredit</th>   
                  <th class="text-center">Sort</th>
                  <th class="text-center">Actions</th>
                 
                </tr>
              </thead>             

              <tbody *ngFor='let p of listqrup; let i = index'>
                <tr>
                 <!--   <td class="pt-3-half" contenteditable="true">{{ p.navid }}</td>-->
                  <!-- <td class="pt-3-half" contenteditable="true">{{ p.genId }}</td> -->
                  <td class="pt-3-half" contenteditable="true">{{ p.Qrupname }}</td>
                  <td class="pt-3-half" contenteditable="true">{{ p.dhesId}}</td>    
                  <td class="pt-3-half" contenteditable="true">{{ p.khesId}}</td>
                <!--  <td class="pt-3-half" contenteditable="true">{{ p.firma_email}}</td>  
                  <td class="pt-3-half" contenteditable="true">{{ p.voen}}</td>  -->
                  <td class="pt-3-half">
                    <span class="table-up"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-up"
                          aria-hidden="true"></i></a></span>
                    <span class="table-down"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-down"
                          aria-hidden="true"></i></a></span>
                  </td>
                  <td>
                    <span class="table-remove">
                      <button type="button" (click)="addqrup.show()" (click)="_editqrup( p )" class="btn btn-info btn-sm my-0">
                        Edit<i class="fas fa-edit"></i></button>
                      <button type="button" (click)="delqrup.show()" (click)="_editqrup(p)" class="btn btn-danger btn-rounded btn-sm my-0">
                        Remove<i class="fas fa-trash-alt"></i></button>
                    </span>
                  </td>
                </tr>       
              </tbody>
          </table>
         </div>
      </div>
  </div>
