<div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">{{title}}</h3>
    <div class="card-body">
      <div id="table" class="table-editable">
        <div class="row">
          <div class="col-md-12 mx-auto">
            <div class="md-form">  
                <form [formGroup]="qaimeForm" class="normal-form">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">Bash tarixi
                      <input [(ngModel)]="emel.emeltarixi" formControlName="emeltarixi" mdbInput type="date" class="form-control" >
                    </div>                    
                    <div class="col-md-4">
                      <button type="button" mdbBtn color="primary" class="btn btn-success btn-rounded btn-sm my-0"
                      (click)="_getqaime()" [disabled]="!qaimeForm.valid">Get <i class="fas float-right fa-2x" aria-hidden="true"></i></button>
                    </div>
                  </div>
                </form> 
                 <div class="row">    
                  <div class="col-md-4"></div>                
                    <div class="col-md-4">
                        <input  type="text" [(ngModel)]="searchText"  class="form-control" id="search" mdbInput />
                        <label for="search">Search</label>
                     </div>
                    <div class="col-md-4"></div>  
                  </div>               
            </div>
          </div>
        </div>
        <span class="table-add float-right mb-3 mr-2">
          
          </span> 
           <table class="table table-bordered table-responsive-md table-striped text-center"  *ngIf='listqaime && listqaime.length'>
            <thead>            
              <tr>   
                <th *ngFor="let head of headElements; let i = index" 
                  aria-controls="tableSortExample" scope="col" [mdbTableSort]="elements"
                   [sortBy]="headElements[i]">{{ head | titlecase}}
                    <mdb-icon fas icon="sort"></mdb-icon>
                  </th>  
                  <!-- <th class="text-center">Actions</th>              -->
              </tr>
            </thead>
            <tbody *ngFor='let p of listqaime'>
              <tr>              
                <!-- <td class="pt-3-half" contenteditable="true">{{ p.qrupname }}</td> -->
                <td class="pt-3-half" contenteditable="true">
                  <a [routerLink]="['/emeliyyat/qaimedet/', p.pmasId]">
                    {{ p.kimden_voen}}
                </a>
                  </td>  
                <td class="pt-3-half" contenteditable="true">{{ p.firma}}</td>     
                <td class="pt-3-half" contenteditable="true">{{ p.serial}}</td>
                <td class="pt-3-half" contenteditable="true">{{ p.kimden_sum}}</td>   
                <td class="pt-3-half" contenteditable="true">{{ p.pay}}</td>  
                <td class="pt-3-half" contenteditable="true">{{ p.emeltarixi}}</td>               
                <td>
                 <!--  <span class="table-remove">
                    <button type="button" (click)="_selqaime(p.pmasId)"  class="btn btn-info btn-sm my-0">
                      Edit<i class="fas fa-edit"></i></button>
                    routerLink="/emeliyyat/qaimedet/{{p.pmasId}}"
                  <button type="button" (click)="delvergi.show()" (click)="_editvergi(p)" class="btn btn-danger btn-rounded btn-sm my-0">
                      Remove<i class="fas fa-trash-alt"></i></button>
                  </span> -->
                </td>
              </tr>       
            </tbody>
          </table> 
        </div>
      </div>
  </div>
  