<div class="card text-center">
    <div class="card-header">
      <h4 class="text-center">{{title}}</h4>
    </div>      
      <div class="row">        
        <div class="col-md-12 mx-auto">
            <form [formGroup]="eqaimeForm" class="normal-form">
                <!-- <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-4"> Activler  
                      <select [(ngModel)]="emel.aId" formControlName="aId" (change)="selacti($event.target.value)"                       
                      class="browser-default custom-select" >                                                     
                        <option *ngFor="let o of listactiv" [value]="o.activId" >{{ o.activName }}</option>                                 
                     </select>
                    </div>
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-2">
                    </div>
                  </div>    -->
                  <!-- <div class="row">
                    <div class="col-md-2">             
                    </div>
                    <div class="col-md-2">Debit hesabı              
                      <select [(ngModel)]="emel.dhesId" formControlName="dhesId" (change)="seldebit($event.target.value)"                       
                      class="browser-default custom-select" >                                                   
                        <option *ngFor="let o of _debhesab" [value]="o.hesId" >{{ o.hesnom }}</option>                                 
                     </select>               
                    </div>
                    <div class="col-md-6">  
                      <div class="md-form"></div>                              
                         <input mdbInput type="text" class="form-control" value={{_debit}}  readonly>
                      </div>
                    <div class="col-md-2">
                    </div>
                  </div> -->
                  <!-- <div class="row">
                    <div class="col-md-2">
                     
                    </div>
                    <div class="col-md-2">Kredit hesabı                                  
                      <select [(ngModel)]="emel.khesId" formControlName="khesId" (change)="selkred($event.target.value)"                       
                      class="browser-default custom-select" >                                                    
                        <option *ngFor="let o of _kredhesab" [value]="o.hesId" >{{ o.hesnom }}</option>                                                   
                     </select>                 
                    </div>
                    <div class="col-md-6">
                      <div class="md-form"></div> 
                          <input mdbInput type="text" class="form-control" value={{_kredit}} readonly>
                     </div>
                    <div class="col-md-2">                
                    </div>
                  </div>   -->
                  <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-6"> Növlər:  
                      <select [(ngModel)]="emel.qId" formControlName="qId" (change)="selqrup($event.target.value)"                       
                      class="browser-default custom-select" >                                                     
                        <option *ngFor="let o of listqrup" [value]="o.qId" >{{ o.qrupname }}</option>                                 
                     </select>
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-2">
                    </div>
                  </div>                  
                  <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-2">Anbarlar:                                  
                      <select [(ngModel)]="emel.anbId" formControlName="anbId" (change)="selanbar($event.target.value)"                       
                      class="browser-default custom-select" >                                                    
                        <option *ngFor="let o of listanbar" [value]="o.anbId" >{{ o.anbarname }}</option>                                                   
                     </select>                           
                    </div>
                    <div class="col-md-3">Əməliyyatın tarixi:
                      <input [(ngModel)]="emel.emeltarixi" formControlName="emeltarixi" placeholder="2022-02-19 14:34:11"  mdbInput type="datetime-local" class="form-control" >                
                   </div>
                    <div class="col-md-2">Seriya:EBAR №:968918
                      <input [(ngModel)]="emel.Serial" formControlName="Serial" placeholder="EBAR №:968918" mdbInput type="text" class="form-control"> 
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8">                                          
                        <img *ngFor="let url of urls; let i = index" [src]="url"  alt="" (click)="_delFiles(i)" class="img-fluid img-thumbnail">
                        <input type="file" [src]="imgsrc" formControlName="_file" accept=" /* " multiple (change)="_selectFiles($event)" />                   
                        </div> 
                    <div class="col-md-2">
                    </div>                                       
                </div>                
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-3"></div>
                    <div class="col-md-3"></div>
                    <div class="col-md-3"></div>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <button type="submit" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect (click)="_uploadFiles()"  [disabled]="!eqaimeForm.valid">Save changes</button>
                        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" mdbWavesEffect>Close</button>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </form>
        </div>
    </div>     
</div>
